name: build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build scanner
        shell: cmd
        run: compile_scanner.bat
